/* * {
    font-family: 'Epilogue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sora', sans-serif;
} */
.dark {
    filter: invert(100%) hue-rotate(180deg);
    background-color: rgb(206, 210, 213);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #222831;
    display: flex;
}

.header {
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    background-color: #22272f;
    color: #01C38D;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header_menu {
    padding-left: 1px;
    width: 170px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header_menu button {
    border: none;
    background-color: transparent;
    text-decoration: none;
    border-radius: 10px;
    color: #01C38D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profileHeader button {
    border: none;
    background-color: transparent;
    color: #01C38D;
    font-size: 25px;
}

.set {
    display: flex;
    align-items: center;
    width: 180px;
    height: 50px;
    padding-left: 5px;
}

.set:hover {
    background-color: #01C38D;
    /* border-radius: 10px; */
    cursor: pointer;
    color: #132d47;
}

.set:hover button {
    color: #132d47;
}

.set button {
    font-size: 20px;
    color: white;
    width: 100%;
}

.profileHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.header_h1 {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hits {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;

    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.hit1 {
    width: 300px;
    height: 300px;
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: #393E46;
    box-shadow: 10px 10px 20px 1px rgba(78, 56, 216, .15);
}

.hit2 {
    width: 500px;
    height: 300px;
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: #393E46;
    box-shadow: 10px 10px 20px 1px rgba(247, 147, 26, .15);
}

.hit3 {
    width: 300px;
    height: 300px;
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: #393E46;
    box-shadow: 10px 10px 20px 1px rgba(67, 52, 167, 0.15);
}

.allCoins {
    width: 68%;
    margin: 30px;
    height: 80%;
    /* border: 2px solid white; */
    padding: 15px;
    background-color: #22272f;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 10px rgba(157, 154, 172, 0.15);

    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.mainHit {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.allOther {
    width: 20%;
    height: 80%;
    /* border: 2px solid white; */
    border-radius: 10px;
    box-shadow: 5px 5px 20px 10px rgba(157, 154, 172, 0.15);
    background-color: #393E46;

    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.change24Div {
    width: 100%;
    height: 11%;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.change24Div img {
    width: 30px;
    height: 30px;
}

#headerChange24 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coin {
    width: 100%;
    height: 13%;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #01C38D;

    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#menuBtn {
    display: none;
    background-color: #01C38D;
    color: #132d47;
    border-radius: 30px;
}

.coin p {
    width: 80px;
    font-size: 16px;
    text-align: center;
}

.coin img {
    width: 30px;
    height: 30px;
}

.description {
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.description p {
    width: 100px;
    color: white;
    text-align: start;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.details {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
}

canvas {
    border-radius: 10px;
}

.responsiveText {
    display: none;
}

@media only screen and (max-width: 800px) {
    * {
        font-size: 12px;
    }

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 5%;
    }

    .main {
        margin: 0;
    }

    .header {
        margin-top: 200px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .header_menu {
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        display: none;
        animation: fadeIn 3s;

    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .header_h1 {
        margin-top: 50px;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
    }

    .hits {
        margin-top: 250px;
        margin: 0;
        gap: 50px;
    }

    .main {
        height: 100%;
        width: 100%;
        margin: 0;
        margin-top: 0;
        gap: 60px;
    }

    .hit2 {
        width: 300px;
        height: 180px;
        /* display: none; */
    }

    .hit1,
    .hit3 {
        display: none;
    }

    canvas {
        width: 300px;
        height: 180px;
    }

    .mainHit {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 50px;
    }

    .allCoins {
        width: 90%;
        height: 400px;
        padding-left: 30px;
    }

    .allCoins p {
        font-size: 12px;
    }

    .allOther {
        width: 80%;
        height: 460px;
    }

    #menuBtn {
        display: block;
        width: 40px;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
    }

    .coin p {
        font-size: 12px;
    }

    .coin img {
        width: 20px;
        height: 20px;
    }

    .allOther p {
        font-size: 12px;
    }

    .allOther img {
        width: 20px;
        height: 20px;
    }

    .responsiveText {
        margin-top: 20px;
        padding: 10px;
        border-radius: 20px;
        display: block;
        width: 50%;
        /* border: 1px solid white; */
        text-align: center;
        animation: fadeIn 3s;

    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .right {
        width: 80%;
        /* background-color: #01C38D; */
    }

    .left {
        margin-top: 50px;
        margin-bottom: 10px;
        width: 80%;
    }

    .change24Div {
        height: 50px;
    }
}

@media only screen and (max-width: 1500px) {
    * {
        font-size: 12px;
    }

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .main {
        margin: 0;
    }

    .header {
        margin-top: 200px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .header_menu {
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        display: none;
    }

    .header_h1 {
        margin-top: 50px;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
    }

    .hits {
        margin-top: 250px;
        margin: 0;
        gap: 50px;
    }

    .main {
        height: 100%;
        width: 100%;
        margin: 0;
        margin-top: 0;
        gap: 50px;
    }

    .hit2 {
        width: 300px;
        height: 180px;
        /* display: none; */
    }

    .hit1,
    .hit3 {
        /* display: none; */
    }

    canvas {
        width: 300px;
        height: 180px;
    }

    .mainHit {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 50px;
    }

    .allCoins {
        width: 90%;
        height: 400px;
        padding-left: 30px;
        font-size: 15px;
    }

    .allOther {
        width: 80%;
        height: 460px;
    }

    #menuBtn {
        display: block;
        width: 40px;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
    }

    .coin p {
        font-size: 12px;
    }

    .coin img {
        width: 20px;
        height: 20px;
    }

    .allOther p {
        font-size: 15px;
    }

    .allOther img {
        width: 20px;
        height: 20px;
    }

    .responsiveText {
        margin-top: 10px;
        padding: 10px;
        border-radius: 20px;
        display: block;
        width: 40%;
        background-color: #383d44;
        padding: 10px 30px;
        text-align: center;
        color: rgb(205, 200, 200);
        animation: fadeIn 3s;

    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
    .right {
        width: 60%;
    }

    .left {
        margin-top: 50px;
        margin-bottom: 10px;
        width: 60%;
    }

    .change24Div {
        height: 50px;
    }
}